<!---------------------- titlebar ---------------------->
<div class="titlebar">
    <div class="titlebar-group">
        <div class="breadcrumbs">
            <span class="url-parent">Youniverse</span><span class="url-separator">/</span><span
                class="url-child">Home</span>
        </div>
    </div>
    <div class="titlebar-group">
        <span class="widget" data-setting-id="settings">Options</span>
        <span class="widget" data-setting-id="settings">Themes</span>
        <span class="widget" data-setting-id="settings">Layouts</span>
        <span class="widget" data-setting-id="settings">Index</span>
    </div>
</div>